/*universal styles*/

html{
    font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
    background-color: white;
}

.main-content{
    position: relative;
    top: 4rem;
}

p{
    color: #4a4a4a;
}

h2{
    color: #4a4a4a;
}

h5{
    color: #4a4a4a;
}
.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
    padding: 8px 8px;
    width: 12rem;
}

.bold{
    font-weight: bold;
    color: #4a4a4a;
}

h4{
    color: #4a4a4a;
}

header .mobil {
    display: none;
}

.banner .mobil{
  display: none;
}

.section .mobil{
    display: none;
}

.rooms .mobil{
  display:none;
}

.location .mobil{
  display: none;
}

.contact .mobil{
  display: none;
}

.mobil h1{
  color:#4a4a4a;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
}

/*To prevent image dragging and selection*/
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

/*Spinner area*/

#spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Spinner animation */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframes */
@keyframes spin {
  to { transform: rotate(360deg); }
}


  /*header*/

  header{
    position: fixed;
    background-color: white;
    top:0;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px gray;
    height: 80px;
  }


  header .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 0.625rem; */
  }

  header .logo{
    display: flex;
    align-items: center;
  }

  .a-logo-left{
    text-decoration: none;
  }

  header #logotitle{
    font-family: 'Poiret One', sans-serif;
    font-size: x-large;
    font-weight:bolder;
  }

  header .logo img{
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }


  header .right{
    align-content: flex-end;
  }

  header nav ul{
    display: flex;
    list-style: none;
    margin-right: 1.5rem;
  }

  header nav li{
    margin-left: 2rem;
  }

  header nav li a{
    text-decoration: none;
    color: #4a4a4a;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
  }

  header .desktop nav li a:hover {
    background-color: #3D3D3D;
    color: white
  }

  @media only screen and (max-width:480px){

    header .desktop{
        display: none;
    }

    header .mobil{
      position: fixed;
      display: block;
      top:0;
      background-image:  url("../images/Coronaditos Web Mobil-3.svg");
      background-position-y: 70%;
      background-size:cover;
      background-repeat:no-repeat;
      z-index: 100;
      width: 100%;
      border-bottom: solid 1px gray;
      height: 6rem;
      transition: height 1s ease;
    }

    header .mobil .top-menu .upper-menu {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.2rem;
    }

    header .mobil .logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    header .mobil .whatsappLink{
      display:flex;
      line-height: 0;
    }

    .headerIcon{
      border-radius: 15px;
    }

    .headerIcon:active{
      opacity: 0.7;
    }

    header .mobil .top-menu .lower-menu {
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 1s ease;

    }

    header .mobil .lower-menu img{
      padding: 0;
    }

    header .mobil .lower-menu ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    header .mobil .lower-menu li{
      margin: 0;
    }

    header .mobil .lower-menu.show{
      opacity: 1;
      visibility: visible;
    }

    header .mobil.expanded {
      height: 8rem;
    }
    

  }

  /* End of Header section */
  /* main content  */

  /* banner section  */
  .banner .desktop{
    /* background-color: lightgray; */
    background-image: url("../images/FondoBanner_2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem 1.5rem 0px;
    gap:0;
  }

  .banner .image-container img{
    border-radius: 30px;
    width: auto;
    height: 500px;
    padding: 1rem;
  }

  .banner .desktop .start-here{
    margin-left: 1.5rem;
    padding: 3rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:justify;
    border-left: solid 1px gray;
  }
  .banner .desktop .start-here h4{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;
    font-family:'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  }

  .banner .desktop h1{
    color:#4a4a4a;
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: 900;
  }

/*****************************/
@media only screen and (max-width:480px){

  .banner .desktop{
    display: none;
  }

  .banner .mobil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner .image-container{
    margin-top: 10px;
  }

  .banner .mobil .image-container img{
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: 0;
    object-fit: cover;
  }

  .banner .mobil .start-here{
    padding: 0 0.4rem 0.4rem;
    text-align: center;
  }

  .banner .mobil h1{
    color:#4a4a4a;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
  }

  .banner .mobil h4{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-family:'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  }

}
/* End of Banner section  */

/* section Descripcion */

  .section .desktop{
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
    background-image: url("../images/FondoCoronaditosWeb.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }

  .DescripcionSection h1{
    margin: 0px;
    color:#4a4a4a;
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 0.5rem;
  }

  .section .DescripcionSection{
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  .DescripcionSection .image-container3{
    margin: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .DescripcionText h2{
    margin: 0rem 2rem;
  }

  .section .desktop .article img{
    /* width: 60%; */

  }


  @media only screen and (max-width:480px){

    .section .desktop{
      display: none;
    }

    .section .mobil{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }

    .slideshow-container-cultura-mobil {
      width: 100%;
      flex-shrink: 0;
      position: relative;
      margin: auto;
    }

    .slideshow-container-cultura-mobil img{
      border-radius: 30px;
    }

    .mySlidesCultura {
      display: none;
    }

    .section .mobil h4{
      margin-top: 0.3rem;
    }

    .section .mobil .prev,
    .section .mobil .next{
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .section .mobil .next{
      right:0;
      border-radius: 3px 0 0 3px;
    }

    .section .mobil .prev:hover,
    .section .mobil .next:hover{
      background-color: rgba(0,0,0,0.8);
    }

    .section .mobil .numbertext{
      color: black;
      font-weight: 900;
      font-size: 0.5rem;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    .section .mobil .fade{
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

  .section .mobil .culturaText{
    padding: 0 0.4rem 0.4rem;
    text-align: center;
  }

  }

/* End of section Descripcion */

/*///////////////////////////////
/* Rooms section */
/*//////////////////////////////
*/

.rooms {
  scroll-margin-top: 80px;
}

.roomsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 1.5rem 0px;
}

.rooms h1{
  margin: 0px;
  color:#4a4a4a;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0.5rem;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  width: 25%;
  flex-shrink: 0;
  position: relative;
  margin: auto;
}
/*Add Border radius to the images*/
.slideshow-container img{
  border-radius: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-weight: 900;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


.roomsText h4{
  font-size: 2rem;
  font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Rooms section mobile */

@media only screen and (max-width:480px)
{
    .rooms .desktop{
      display: none;
    }

    .rooms .mobil{
      scroll-margin-top: 130px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }

    .slideshow-container-rooms-mobil {
      scroll-margin-top: 200px;
      width: 100%;
      flex-shrink: 0;
      position: relative;
      margin: auto;
    }

    .slideshow-container-rooms-mobil img{
      border-radius: 30px;
    }

    .mySlidesRooms{
      display: none;
    }

    /* .mySlidesCultura img{
      position: relative;
      margin-top: -200px;
      margin-top: -200px;
    } */

    .rooms .mobil h4{
      margin-top: 0.3rem;
    }

    .rooms .mobil .roomsMobilText{
      padding: 0 0.4rem 0.4rem;
      text-align: center;
    }

    .rooms .mobil .prev,
    .rooms .mobil .next{
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .rooms .mobil h1{
      color:#4a4a4a;
      text-decoration: underline;
      font-size: 1.2rem;
      font-weight: 900;
      margin: 0;
    }


    .rooms .mobil .next{
      right:0;
      border-radius: 3px 0 0 3px;
    }

    .rooms .mobil .prev:hover,
    .rooms .mobil .next:hover{
      background-color: rgba(0,0,0,0.8);
    }

    .rooms .mobil .numbertext{
      color: black;
      font-weight: 900;
      font-size: 0.5rem;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    .rooms .mobil .fade{
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

  .rooms .mobil .culturaText{
    padding: 0 0.4rem 0.4rem;
    text-align: center;
  }

}

/*End of Rooms Section*/

/* Location section */

.location{
  scroll-margin-top: 80px;
}

.location h1{
  margin: 0px;
  color:#4a4a4a;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0.5rem;
  text-align: center;
}

.locationContainer{
    display: flex;
    justify-content: space-around;
    padding: 2rem 1.5rem 0px;
}


.locationText h2{
  font-size: 2rem;
  font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

@media only screen and (max-width:480px){

  .location .desktop{
    display: none;
  }

  .location .mobil{
    scroll-margin-top: 130px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location .mobil .map{
  width: 100%;
  }

  .location .mobil h1{
    color:#4a4a4a;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
  }

  .location .mobil h4{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-family:'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  }

  .location .mobil .ubicacionMobilText{
    padding: 0 0.4rem 0.4rem;
    text-align: center;
  }

}

/* END OF LOCATION SECTION */

/* START OF CONTACT SECTION*/

.contacto{
  scroll-margin-top: 80px;
}

.contacto h1{
  margin: 0px;
  color:#4a4a4a;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0.5rem;
  text-align: center;
}

.contactoContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1.5rem 0px;
}

.contacto-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatsappLink:link, .whatsappLink:visited{
  text-decoration: none;
}

.whatsappButton{
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #25D366;
  /* box-shadow: 0 0 20px black;  */
  cursor: pointer;
  padding: 10px;
}

.whatsappLink img{
  height: 30px;
  padding-right: 8px;
}

span.button-text{
  font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  color: black;
  font-weight: 1000;
}

.whatsappButton:hover{
  background-color: #2bb75f;
}

.contact-form{
  padding: 50px 55px;
  /* box-shadow: 0 0 20px rgba(0,0,0,0.2);   */
  border-radius: 30px;
  text-align: center;
  margin-left: 10px;
  width: 90%;
}

.fs-field {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.fs-label{
  text-decoration: none;
  color: #4a4a4a;
  font-size: large;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.fs-input, .fs-textarea {
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  background-color: #EDFFF0;
  border: 1px solid #F0FAF1;
  color: #283629;
  outline: solid;
  font-family:  'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: 900;
}

.incorrect_input{
  /* border: 1px solid red; */
  outline: solid red
}

textarea{
  height: 10rem;
  resize:none;
}


textarea::placeholder, input::placeholder{
  opacity: 1;
  font-family: 'Poiret One', Verdana, Geneva, Tahoma, sans-serif;
}

.fs-button{
  font-size: 1rem;
  color: white;
  border-radius: 25px;
  background-color: #4a4a4a;
  /* box-shadow: 0 0 20px black; */
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.fs-button:hover{
  background-color: #3D3D3D;
}

.warning{
  color: red;
  font-size: 15px;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width:480px){

  /* .contacto .desktop{
    display: none;
  } */

  .contacto .desktop h1{
    display: none;
  }

  .contacto .contactoContainer{
    scroll-margin-top: 130px;
    flex-direction: column;
    padding: 0 0 0.4rem 0.4rem;
    text-align: center;
  }

  .contacto-left{
    width: 100%;
  }

  .contacto-left img{
    width: 100%;
  }

  .whatsappButton{
    min-width: 200px;
    white-space: nowrap;  
  }

  .contacto-right{
    width: 100%;
  }

  .contact-form{
    justify-content: center;
    width: 96%;
    padding: 0;
    margin: 0;
  }

}



/* END OF CONTACT SECTION*/

  /* footer */

  /* footer{
    display: flex;
    justify-content: space-between;
  } */

  .copyright{
    display: flex;
    justify-content: space-between;
  }

  .copyright .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1.5rem;
    gap: 1rem;
  }

  footer .right ul{
    display: flex;
    margin-right: 2rem;
  }

  footer .right li{
    margin-left: 1rem;
    list-style: none;
    font-size: 0.7rem;
  }

  /* footer section mobil */
  @media only screen and (max-width:480px){
    .copyright .right
    {
        display: none;
    }
}